.index {
  background: rgb(103, 33, 156);
  background: linear-gradient(
    180deg,
    rgba(103, 33, 156, 1) 19%,
    rgba(217, 11, 88, 1) 100%
  );
}

.contact-me {
  background-image: url("background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-div {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

form label {
  display: block;
  margin: 10px 0;
}

.contact-div input,
.contact-div textarea {
  border-radius: 5px;
  width: 400px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 5px;
}

table {
  width: 100%;
}

.information_table td,
.skills_table td {
  width: 50%;
}

.information_table {
  text-align: center;
}

.title {
  font-weight: bold;
}

.btn {
  background-color: #f53401;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-div {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
}
